@font-face {
  font-family: 'Modern KING';
  src: url('https://res.cloudinary.com/whynotearth/raw/upload/v1574308919/Shinta%20Mani%20Wild/General/fonts/modern-king/ModernKING_oea1qw_jjo48d.eot');
  src: url('https://res.cloudinary.com/whynotearth/raw/upload/v1574308919/Shinta%20Mani%20Wild/General/fonts/modern-king/ModernKING_oea1qw_jjo48d.eot?#iefix')
      format('embedded-opentype'),
    url('https://res.cloudinary.com/whynotearth/raw/upload/v1574308919/Shinta%20Mani%20Wild/General/fonts/modern-king/ModernKING_l3ekor_zdtuxd.woff2')
      format('woff2'),
    url('https://res.cloudinary.com/whynotearth/raw/upload/v1574308919/Shinta%20Mani%20Wild/General/fonts/modern-king/ModernKING_brzqxx_eq7on3.woff')
      format('woff'),
    url('https://res.cloudinary.com/whynotearth/raw/upload/v1574308919/Shinta%20Mani%20Wild/General/fonts/modern-king/ModernKING_wgy5af_jjeuye.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}
