@font-face {
  font-family: 'Modern KING';
  src: url('https://res.cloudinary.com/ddwsbpkzk/raw/upload/v1571421009/Shinta%20Mani%20Wild/general/fonts/modern-king/ModernKING_oea1qw.eot');
  src: url('https://res.cloudinary.com/ddwsbpkzk/raw/upload/v1571421009/Shinta%20Mani%20Wild/general/fonts/modern-king/ModernKING_oea1qw.eot?#iefix')
      format('embedded-opentype'),
    url('https://res.cloudinary.com/ddwsbpkzk/raw/upload/v1571421008/Shinta%20Mani%20Wild/general/fonts/modern-king/ModernKING_l3ekor.woff2')
      format('woff2'),
    url('https://res.cloudinary.com/ddwsbpkzk/raw/upload/v1571421007/Shinta%20Mani%20Wild/general/fonts/modern-king/ModernKING_brzqxx.woff')
      format('woff'),
    url('https://res.cloudinary.com/ddwsbpkzk/raw/upload/v1571421008/Shinta%20Mani%20Wild/general/fonts/modern-king/ModernKING_wgy5af.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}
