@font-face {
  font-family: 'shintamani condensed';
  src: url('https://res.cloudinary.com/ddwsbpkzk/raw/upload/v1568561064/Shinta%20Mani%20Wild/general/fonts/shintamani/shintamani-condensed-regular_rvnctv.eot');
  src: url('https://res.cloudinary.com/ddwsbpkzk/raw/upload/v1568561064/Shinta%20Mani%20Wild/general/fonts/shintamani/shintamani-condensed-regular_rvnctv.eot?#iefix')
    format('embedded-opentype'),
    url('https://res.cloudinary.com/ddwsbpkzk/raw/upload/v1568561067/Shinta%20Mani%20Wild/general/fonts/shintamani/shintamani-condensed-regular_qra4ja.woff2')
    format('woff2'),
    url('https://res.cloudinary.com/ddwsbpkzk/raw/upload/v1568561066/Shinta%20Mani%20Wild/general/fonts/shintamani/shintamani-condensed-regular_zmztll.woff')
    format('woff'),
    url('https://res.cloudinary.com/ddwsbpkzk/raw/upload/v1568561065/Shinta%20Mani%20Wild/general/fonts/shintamani/shintamani-condensed-regular_bcj15o.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shintamani';
  src: url('https://res.cloudinary.com/ddwsbpkzk/raw/upload/v1568561069/Shinta%20Mani%20Wild/general/fonts/shintamani/shintamani-regular_ojlf3m.eot');
  src: url('https://res.cloudinary.com/ddwsbpkzk/raw/upload/v1568561069/Shinta%20Mani%20Wild/general/fonts/shintamani/shintamani-regular_ojlf3m.eot?#iefix')
    format('embedded-opentype'),
    url('https://res.cloudinary.com/ddwsbpkzk/raw/upload/v1568561071/Shinta%20Mani%20Wild/general/fonts/shintamani/shintamani-regular_uvh8de.woff2') format('woff2'),
    url('https://res.cloudinary.com/ddwsbpkzk/raw/upload/v1568561071/Shinta%20Mani%20Wild/general/fonts/shintamani/shintamani-regular_tommx3.woff') format('woff'),
    url('https://res.cloudinary.com/ddwsbpkzk/raw/upload/v1568561070/Shinta%20Mani%20Wild/general/fonts/shintamani/shintamani-regular_coa7th.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shintamani';
  src: url('https://res.cloudinary.com/ddwsbpkzk/raw/upload/v1568561061/Shinta%20Mani%20Wild/general/fonts/shintamani/shintamani-500_mkbqcp.eot');
  src: url('https://res.cloudinary.com/ddwsbpkzk/raw/upload/v1568561061/Shinta%20Mani%20Wild/general/fonts/shintamani/shintamani-500_mkbqcp.eot?#iefix')
    format('embedded-opentype'),
    url('https://res.cloudinary.com/ddwsbpkzk/raw/upload/v1568561063/Shinta%20Mani%20Wild/general/fonts/shintamani/shintamani-500_zassik.woff2') format('woff2'),
    url('https://res.cloudinary.com/ddwsbpkzk/raw/upload/v1568561062/Shinta%20Mani%20Wild/general/fonts/shintamani/shintamani-500_shlsqk.woff') format('woff'),
    url('https://res.cloudinary.com/ddwsbpkzk/raw/upload/v1568561062/Shinta%20Mani%20Wild/general/fonts/shintamani/shintamani-500_x9nrs4.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
