@import '~sass-rem';
@import '~bootstrap/scss/functions';
@import './variables.scss';
@import '~bootstrap/scss/mixins';
@import './font-shinta-mani.scss';
@import './bootstrap.scss';

// Typography
.font-serif {
  font-family: 'shintamani', arial, serif;
}
.font-serif-condensed {
  font-family: 'shintamani condensed', arial, serif;
}
.font-sans-serif {
  font-family: 'Roboto', 'Segoe UI', Tahoma, sans-serif;
}

body {
  background: $light;
}
