@import './font-shinta-mani.scss';
@import './bootstrap.scss';

// Typography
.font-serif {
  font-family: 'shintamani', arial, serif;
}
.font-serif-condensed {
  font-family: 'shintamani condensed', arial, serif;
}
.font-weight-semibold {
  font-weight: 500;
}
.font-sans-serif {
  font-family: 'Roboto', 'Segoe UI', Tahoma, sans-serif;
}
.text-decoration-underline {
  text-decoration: underline;
}
.is-huge {
  font-size: $huge-font-size;
  line-height: 1;
}
.is-huge-placeholder {
  // 24 + 8 is border-art height and margin
  height: (1 * $huge-font-size) + rem(24px + 8px);
}

// layout
html,
body,
.app,
.page {
  min-height: 100vh;
}
.container.is-small {
  max-width: rem($container-small);
}
.page {
  display: flex;
  flex-direction: column;
}
.page--content {
  flex-grow: 1;
}
.shift-down {
  margin-bottom: rem(-40px);
}
.aspect-ratio-box {
  height: 0;
  overflow: hidden;
  position: relative;
  &.ratio-1-1 {
    padding-top: 100%;
  }
  &.ratio-16-9 {
    padding-top: 56.25%;
  }
}
.aspect-ratio-box-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.read-more-content {
  transition: height 300ms ease;
}
.read-more-link {
  color: $brand-3;
}

// banner action
.banner-action {
  .button-frame {
    $button-width: 172px;
    $button-height: 72px;
    width: rem($button-width);
    height: rem($button-height);
    background: url('https://res.cloudinary.com/ddwsbpkzk/image/upload/h_72/Shinta%20Mani%20Wild/general/book-now-lite_ma33ou.png');
    background-size: rem($button-width $button-height);
  }
}

