@import './font-modern-king.scss';
@import './bootstrap.scss';
@import '@/styles/lib-aos.scss';

// Typography
.h2,
.h3 {
  font-family: $font-family-serif-2;
}
.font-serif {
  font-family: $font-family-serif;
}
.font-serif-2 {
  font-family: $font-family-serif-2;
}
.font-sans-serif {
  font-family: $font-family-sans-serif;
}
.font-weight-semibold {
  font-weight: 500;
}
.text-decoration-underline {
  text-decoration: underline;
}
.h1 {
  line-height: 0.75;
  font-size: $h1-font-size-mobile;
  @include media-breakpoint-up(md) {
    font-size: $h1-font-size;
  }
}
.font-size-xl-huge {
  @include media-breakpoint-up(xl) {
    font-size: $huge-font-size;
  }
}
.is-huge-placeholder {
  // 24 + 8 is border-art height and margin
  height: (0.75 * $huge-font-size) + rem(24px + 8px);
}
.text-small-caps {
  font-variant: small-caps;
}
.text-normal-caps {
  font-variant: normal;
}
.text-black {
  color: $black;
}

// utilities
.h-inherit {
  height: inherit;
}
.mh-inherit {
  max-height: inherit;
}
.user-select-none {
  user-select: none;
}
.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}

// layout
html,
body,
.app,
.page {
  min-height: 100vh;
  // stylelint-disable-next-line
  min-height: calc(var(--vh, 1vh) * 100);
}
[page-is-loading] {
  overflow: hidden;
}
.container.is-small {
  max-width: rem($container-small);
  @include media-breakpoint-down(md) {
    padding-left: rem($spacer * 1.5);
    padding-right: rem($spacer * 1.5);
  }
}
.page {
  display: flex;
  flex-direction: column;
}
.page--header-content {
  flex-grow: 1;
}
.page-header {
  z-index: $header-zindex;
  position: relative;
}
.page--content {
  z-index: $page-content-zindex;
  position: relative;
}
.aspect-ratio-box {
  height: 0;
  overflow: hidden;
  position: relative;
  &.ratio-1-1 {
    padding-top: 100%;
  }
  &.ratio-16-9 {
    padding-top: 56.25%;
  }
  &.ratio-9-16 {
    padding-top: 177.78%;
  }
  &.ratio-3-2 {
    padding-top: 66.7%;
  }
}
.aspect-ratio-box-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.stick-around {
  @include stick-around;
}

// dropdown
.dropdown-item {
  font-weight: 300;
}

// background doodle images
.parallax-container {
  overflow-y: hidden;
  // TODO: horizontally scroll in the mobile
  @include media-breakpoint-down(sm) {
    overflow-x: hidden;
  }
}
.doodle {
  max-width: rem(700px);
  max-height: rem(700px);
  z-index: -1;
  @include media-breakpoint-down(sm) {
    max-width: rem(340px);
    max-height: rem(340px);
  }
}
.doodle-item-0-0 {
  top: 10vh;
  left: 0;
}
.doodle-item-0-1 {
  bottom: 10vh;
  right: 5%;
}
.doodle-item-0-2 {
  top: 5%;
  right: 30%;
}
.doodle-item-0-3 {
  bottom: 5vh;
  right: 50%;
}
.doodle-item-1-0 {
  top: 5vh;
  left: 2%;
}
.doodle-item-1-1 {
  top: 10vh;
  right: 2%;
}
.doodle-item-1-2 {
  bottom: 30vh;
  left: 5%;
}
.doodle-item-1-3 {
  bottom: 25vh;
  right: 20%;
}
.doodle-item-1-4 {
  bottom: 45vh;
  right: 5%;
}
.doodle-item-2-0 {
  left: 5%;
  top: 5%;
}
.doodle-item-2-1 {
  bottom: 0;
  right: 0;
}

// hero
.hero {
  max-height: rem($hero-height);
  background-color: $black;
  box-shadow: $box-shadow-md, $box-shadow-sm;
  &.has-inner-shadow {
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      display: block;
      background: $linear-gradient-md;
    }
  }
}

.page-description {
  .heading-placeholder {
    height: rem(83px);
  }
  .vue-content-placeholders-heading {
    height: 100%;
  }
  .description-placeholder {
    height: rem(72px);
  }
}

.debug {
  background: $white;
  padding: 1rem;
  position: absolute;
}

// transitions
.fade-enter-active,
.fade-leave-active {
  transition: opacity 500ms;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
// fade-fast
.fade-fast-enter-active,
.fade-fast-leave-active {
  transition: opacity 250ms;
}
.fade-fast-enter,
.fade-fast-leave-to {
  opacity: 0;
}
