@import '~sass-rem';
@import '~bootstrap/scss/functions';
@import './variables.scss';
@import '~bootstrap/scss/mixins';
@import './font-shinta-mani.scss';
@import './bootstrap.scss';

// Typography
.font-serif {
  font-family: 'shintamani', arial, serif;
}
.font-serif-condensed {
  font-family: 'shintamani condensed', arial, serif;
}
.font-weight-semibold {
  font-weight: 500;
}
.font-sans-serif {
  font-family: 'Roboto', 'Segoe UI', Tahoma, sans-serif;
}
.text-decoration-underline {
  text-decoration: underline;
}

// layout
html,
body,
.app,
.page {
  min-height: 100vh;
}
.container.is-small {
  max-width: rem($container-small);
}
.page {
  display: flex;
  flex-direction: column;
}
.page--content {
  flex-grow: 1;
}
