@mixin line-clamp($line-count) {
  // stylelint-disable
  display: -webkit-box;
  -webkit-line-clamp: $line-count;
  line-clamp: $line-count;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  // stylelint-enable
}

@mixin hero-placeholder() {
  .placeholder-image {
    width: 100%;
    height: 100%;
    padding: $header-height $header-height-mobile;
    @include media-breakpoint-up(md) {
      padding: $header-height;
    }
  }
  .vue-content-placeholders-img {
    width: 100%;
  }
}

@mixin stick-around {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
