$font-path: 'assets/font';

// colors
// $primary: ;
// $secondary: ;

// $success: ;
// $info: ;
// $warning: ;
// $danger: ;

// $light: ;
// $dark: ;
// $dark-less: ;
// $gray-60: ;

// $brand-1: ;
// $brand-2: ;
// $brand-3: ;
// $brand-4: ;

$body-bg: $white;
// $body-color: ;
// $link-color: ;
// $link-hover-color: darken($link-color, 15%);

// spacings
$grid-gutter-width: rem(16px);

// typography
// $font-family-sans-serif: 'Open Sans', sans-serrif;

// general
$enable-shadows: true;
